<!doctype html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragments/general.html :: bootstrap-head"></div>
<head>
    <title th:text="${ownername}+' s dashboard'">onwer's dashboard</title>
</head>
<body>
<div th:insert="fragments/general.html :: script-src"></div>
<div th:insert="fragments/components/navbar.html :: navbar"></div>
<div class="container">
    <div
            th:insert="fragments/engine/dashboard.html :: dashboard(ownername=${ownername}, owner=${owner}, assets=${assets}, twoassets=${twoassets})"></div>
</div>
</body>
</html>
