<!doctype html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragments/general.html :: bootstrap-head"></div>
<head>
    <title>Schedule</title>
</head>
<body>
<div th:insert="fragments/general.html :: script-src"></div>
<div th:insert="fragments/components/navbar.html :: navbar"></div>
<div class="container">

    <div th:insert="'fragments/components/'+${ownername}+'/shortview.html' :: shortview (ownername=${ownername},lecture=${owner},interest='',group=${groupsMap.get(owner.getGroupId())},course=${coursesMap.get(owner.getCourseId())},teacher=${teachersMap.get(owner.getTeacherId())},room=${roomsMap.get(owner.getRoomId())} )"></div>

    <form action=#
          th:action="@{/lectures/{ownername}/{id}/{timeview}(ownername=${ownername},id=${id},timeview='month')}"
          method="get">
        <div class="input-group mb-1">
            <input type="hidden" th:name="mode" th:value="'viewer'">
            <span class="coll-sm-2 input-group-text" id="dateselection">from</span>
            <input type="date" class="coll-sm-6 form-control" th:name="startDate" th:value="${startDate}"
                   id="dateselection" disabled>
            <span class="coll-sm-6 input-group-text" id="dateselection">to</span>
            <input type="date" class="coll-sm-6 form-control" th:name="finishDate" th:value="${finishDate}"
                   id="dateselection" disabled>
            <button type="submit" class="coll-sm-6 btn btn-primary" disabled>go</button>
        </div>
    </form>


    <form th:action="@{/lectures/lecture{lectureId}/clone(lectureId=${owner.getId()})}" method="get">
        <input type="hidden" th:name="startDate" th:value="${startDate}">
        <input type="hidden" th:name="finishDate" th:value="${finishDate}">
        <input type="hidden" th:name="roomId" th:value="${owner.getRoomId()}">
        <input type="hidden" th:name="teacherId" th:value="${owner.getTeacherId()}">
        <input type="hidden" th:name="courseId" th:value="${owner.getCourseId()}">
        <input type="hidden" th:name="groupId" th:value="${owner.getGroupId()}">
        <input type="hidden" th:name="serialNumberPerDay" th:value="${owner.getSerialNumberPerDay()}">
        <input type="hidden" th:name="date" th:value="${owner.getDate()}">

        <input type="hidden" th:name="sourcename" th:value="${sourcename}">
        <input type="hidden" th:name="sourceId" th:value="${sourceId}">
        <div class="btn-group me-2" role="group" aria-label="pagination group">
            <button th:if="${page==1}" type="submit" class="btn btn-secondary" disabled>&laquo;</button>
            <button th:if="${page>1}" type="submit" th:name="page" th:value="${page-1}" class="btn btn-secondary">
                &laquo;
            </button>
            <button type="submit" th:text="${page}+' from '+${timeline.size()}" class="btn btn-secondary" disabled>
                information
            </button>
            <button th:if="${page==timeline.size()}" type="submit" class="btn btn-secondary" disabled>&raquo;</button>
            <button th:if="${page<timeline.size()}" type="submit" th:name="page" th:value="${page+1}"
                    class="btn btn-secondary">&raquo;
            </button>
        </div>
    </form>

    <form th:action="@{/lectures/clone}" method="post">
        <input type="hidden" th:name="startDate" th:value="${startDate}">
        <input type="hidden" th:name="finishDate" th:value="${finishDate}">
        <input type="hidden" th:name="sourcename" th:value="${sourcename}">
        <input type="hidden" th:name="sourceId" th:value="${sourceId}">
        <input type="hidden" th:name="roomId" th:value="${owner.getRoomId()}">
        <input type="hidden" th:name="teacherId" th:value="${owner.getTeacherId()}">
        <input type="hidden" th:name="courseId" th:value="${owner.getCourseId()}">
        <input type="hidden" th:name="groupId" th:value="${owner.getGroupId()}">

        <div class="btn-group me-2" role="group" aria-label="Mode group">
            <button type="submit" th:name="actSourseLecture" class="btn btn-secondary">add lectures WITH the source
                lecture
            </button>
            <button type="submit" th:name="markMoveOwner" th:value="${owner.getId()}" class="btn btn-secondary">add
                lectures INSTEAD the source lecture
            </button>

        </div>
        <div th:with="timelineThisMonth=${timeline.get(page-1)}">

            <div th:with="monthStart=${#temporals.dayOfWeek(timelineThisMonth.get(0))}">
                <div th:with="monthEnd=${timelineThisMonth.size()+monthStart}">
                    <div th:each="weekOfMonth:${#numbers.sequence(0,5)}">
                        <div class="row">
                            <div class="col" th:each="dayOfWeek:${#numbers.sequence(1,7)}">
                                <div th:with="dayOfVeiw=${dayOfWeek}+7*${weekOfMonth}">

                                    <div th:if="${dayOfVeiw>=monthStart and monthEnd>dayOfVeiw}">
                                        <div th:with="currentDay=${timelineThisMonth.get(dayOfVeiw-monthStart)}">
                                            <div th:with="day=${timetable.get(currentDay)}">
                                                <div class="contaner bg-info">
                                                    <div class="row">
                                                        <div class="col text-left">
                                                            <span th:text="${currentDay}">Date</span>
                                                            </br>
                                                            <span th:text="${#temporals.dayOfWeekNameShort(currentDay)}">DayOfWeek</span>
                                                        </div>
                                                    </div>
                                                    <div class="row-sm" th:unless="${day==null}">
                                                        <div th:each="lectureEntry:${day.entrySet()}">
                                                            <div class="row"
                                                                 th:unless="${lectureEntry.getValue().get(0).getGroupId()==null}">
                                                                <div class="col-sm-1 bg-primary border border-light">
                                                                    <span th:text="${lectureEntry.getKey()}">timeOfSpot</span>
                                                                </div>
                                                                <div class="col-sm-9 bg-primary border border-light">

                                                                    <button type="button" class="btn btn-primary"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#contentsOfTakenSpot">
                                                                        <span th:text="'it is taken'">contentsOfTakenSpot</span>
                                                                    </button>
                                                                    <div class="modal fade" id="contentsOfTakenSpot"
                                                                         tabindex="-1"
                                                                         aria-labelledby="contentsOfTakenSpotLabel"
                                                                         aria-hidden="true">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h1 class="modal-title fs-5"
                                                                                        id="contentsOfTakenSpotLabel"
                                                                                        th:text="${lectureEntry.getKey()} + '-th lectures on ' + ${currentDay}">
                                                                                        Modal title</h1>
                                                                                    <button type="button"
                                                                                            class="btn-close"
                                                                                            data-bs-dismiss="modal"
                                                                                            aria-label="Close"></button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <div th:each="lecture:${lectureEntry.getValue()}">
                                                                                        <div th:insert="fragments/components/lecture/shortview.html :: shortview (ownername=${'lecture'},lecture=${lecture},interest='timeAndDay',group=${groupsMap.get(lecture.getGroupId())},course=${coursesMap.get(lecture.getCourseId())},teacher=${teachersMap.get(lecture.getTeacherId())},room=${roomsMap.get(lecture.getRoomId())} )"></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button"
                                                                                            class="btn btn-secondary"
                                                                                            data-bs-dismiss="modal">
                                                                                        Close
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row"
                                                                 th:if="${lectureEntry.getValue().get(0).getGroupId()==null}">
                                                                <div class="col-sm-1 bg-white border border-light">
                                                                    <span th:text="${lectureEntry.getKey()}">timeOfSpot</span>
                                                                </div>
                                                                <div class="col-sm-9 bg-white border border-light">
                                                                    <input class="form-check-input" type="checkbox"
                                                                           th:name="timeSpots"
                                                                           th:value="${lectureEntry.getKey()}+' '+${currentDay}"
                                                                           id="checkboxSelectoOfSpotOfLecture"
                                                                           autocomplete="off"
                                                                           aria-label="newLectureTimeSpot">
                                                                    <label class="form-check-label"
                                                                           for="checkboxSelectoOfSpotOfLecture">eatMe</label><br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col bg-light border border-primary"
                                                         th:if="${day==null}">
                                                        <span class="text-left"
                                                              th:text="'beyond a given time'">lecture</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>


</body>
</html>
