<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:insert="fragments/general.html :: bootstrap-head"></div>
<head>
<title>Schedule</title>
</head>
<body>
  <div th:insert="fragments/general.html :: script-src"></div>
  <div th:insert="fragments/components/navbar.html :: navbar"></div>
  <div class="container"></div>

  <div th:if="${param.error}">Invalid username and password.</div>
  <div th:if="${param.logout}">You have been logged out.</div>
  <form th:action="@{/login}" method="post">
    <div>
      <label> User Name : <input type="text" name="username" />
      </label>
    </div>
    <div>
      <label> Password: <input type="password" name="password" />
      </label>
    </div>
    <div>
      <input type="submit" value="Sign In" />
    </div>
  </form>
</body>
</html>